<% layout("/layouts/boilerplate") %>

<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  const listing = <%- JSON.stringify(listing) %>;
</script>

<div class="row mt-4">
  <div class="col-12 col-md-6 offset-md-3 mb-2 ps-3 pe-2">
    <h3><%= listing.title %></h3>
  </div>

  <div class="card col-12 col-md-6 offset-md-3 show-card delete-border ps-3 pe-2">
    <img
      src="<%= listing.image.url %>"
      class="card-img-top show-img"
      alt="listing_image"
    />
    <div class="card-body">
      <p class="card-text">
        <p>Owned by <i><%= listing.owner.username %></i></p>
        <p class="text-align"><%= listing.description %></p>
        <p><b>&#8377; <%= listing.price.toLocaleString("en-IN") %></b> <i style="font-size: 0.75rem;">for a night</i></p>
        <p><%= listing.location %></p>
        <p><%= listing.country %></p>
      </p>
    </div>
  </div>

  <br>

 <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
  <div class="btns">
    <a
      href="/listings/<%= listing._id %>/edit"
      class="btn btn-dark col-1 offset-3"
      >Edit</a
    >

    <form method="post" action="/listings/<%= listing._id %>?_method=DELETE">
      <button class="btn btn-dark offset-4">Delete</button>
    </form>
  </div>
  <% } %>
  
  <div class="col-12 col-md-6 offset-md-3 ps-3 pe-2">
    <% if(currUser) { %>
    <hr />
    <h4>Leave a Review</h4>
    <form
      action="/listings/<%= listing._id %>/reviews"
      method="POST"
      novalidate
      class="needs-validation">
      
      <!-- <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <input
          type="range"
          min="1"
          max="5"
          id="rating"
          name="review[rating]"
          class="form-range"
        />
      </div> -->
      
      <div class="mb-3 mt-3">
        <label for="rating" class="form-label">Rating</label>
        <fieldset class="starability-slot">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No   rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      </div>

      <div>
        <label for="comment" class="form-label">Comments</label>
        <textarea
          name="review[comment]"
          placeholder="Write a review"
          id="comment"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please add some comment for review</div>
        <br />
      </div>
      <button class="btn btn-dark">Submit</button>
    </form>
    <% } %>

    <hr />

    <% if(listing.reviews.length > 0) { %>
    <div class="row">
      <p><b>All Reviews</b></p>
      <% for(review of listing.reviews) { %>
      <div class="card col-lg-5 col-md-6 col-sm-12 ms-3 mb-3">
        <div class="card-body mt-1">
          <h5 class="card-title fs-6">@<%= review.author.username %></h5>
          <div class="d-flex align-items-start">
            <p class="starability-result" data-rating="<%= review.rating %>"></p>
          </div>
          <p class="card-text text-align mb-2"><%= review.comment %></p>

          <% if(currUser && review.author._id.equals(currUser._id)) { %>
          <form
            class="mb-2"
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
      </div>
      <% } %>
    </div>
    <% } %>
  </div>

  <div class="col-12 col-md-6 offset-md-3 mb-2 ps-3 pe-2">
    <h5>Where You'll be</h5>
    <div id="map" class="rounded"></div>
  </div>
  
</div>

<script src="/js/map.js"></script>
